* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;

}

.header {
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 53, 250, 0.7), rgba(225, 254, 0, 0.7)), url();
    background-position: center;
    background-size: cover;
    position: relative;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 11px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(246, 239, 239);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 20px;
    background: #fefefe;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    to
}

.text-box {
    width: 90%;
    color: #100f0f;
    position: absolute;
    text-align: left;
    transform: translate(5%, -100%);
    font-size: larger;
}

.text-box h1 {
    font-size: 50px;

}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #141313;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: 0%;
        text-align: left;
        z-index: 2;
    }
}

.about-me {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

p {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
}
.projects {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;

}
img {
    width: 500px;
    padding: 50px;
    

}
.contact {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;

}
.contact p {
    font-size: 20px;
}
